<div class="footerRegUP">
    <pre>  Отчет предоставил МОЛ          _________________              ___________         ______________________</pre>
</div>
<div class="footerRegDown">
    <pre>                                              должность                        подпись                    расшифровка подписи </pre>
</div>
<div class="footerRegUP">
    <pre> Отчет проверил бухгалтер        _________________              ___________         ______________________</pre>
</div>
<div class="footerRegDown">
    <pre>                                              должность                        подпись                    расшифровка подписи </pre>
</div>